---
import type { Project } from "../../public/data/site-config";
import Gallery from "./gallery.astro";
import ExternalLink from "./ui/ExternalLink.astro";
import Paragraph from "./ui/Paragraph.astro";

interface Props {
  data: Project;
}

const { data } = Astro.props;

const { name, info, stack, repo, demo } = data;
---

<div class="grid grid-cols-1 gap-4">
  <div class="flex flex-col gap-3">
    <div class="">
      <h2 class="text-xl text-dark-200 font-normal">{name}</h2>
      <div class="flex items-center justify-start gap-2 py-1">
        {
          demo && (
            <ExternalLink className="text-dark-100" href={demo}>
              Demo
            </ExternalLink>
          )
        }
        {
          repo && (
            <ExternalLink className="text-dark-100" href={repo}>
              Respositorio
            </ExternalLink>
          )
        }
      </div>
      <div>
        <Paragraph class="info text-dark-300 line-clamp-5 md:line-clamp-none">
          {info}
        </Paragraph>
        <div
          class="group toogle-see-more md:hidden w-max text-sm select-none cursor-pointer hover:text-dark-50 duration-300 font-extralight text-dark-100 flex items-center justify-start gap-1"
        >
          <span class="duration-300"> Ver más </span>
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            class="arrow-icon rotate-180"
          >
            <path
              fill="currentColor"
              d="M11.5 17.308V7.416l-4.1 4.1l-.708-.708L12 5.5l5.308 5.308l-.708.708l-4.1-4.1v9.892z"
            ></path>
          </svg>
        </div>
      </div>
    </div>
    <footer
      class="flex items-center justify-start gap-2 w-full overflow-x-auto py-2"
    >
      {
        stack.map((i) => {
          return (
            <span class="border border-dark-800 rounded-md px-2 py-1 text-xs text-nowrap md:text-sm text-dark-400 font-extralight">
              {i}
            </span>
          );
        })
      }
    </footer>
  </div>
  <Gallery data={data} />
</div>
